.search{
    padding-top: 2.52rem;
}
.search form{
    padding: 15px 10px;
}
.search form .inputBox{
    width: 100%;
    height: .6rem;
    padding: 0 .6rem;
    box-sizing: border-box;
    background: #ebecec;
    border-radius: .6rem;
    line-height: .6rem;
    position: relative;
}
.search form .icon{
    position: absolute;
    left: 0;
    top: .19rem;
    margin: 0 .16rem;
    vertical-align: middle;
    width: .26rem;
    height: .26rem;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNiAyNiI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBmaWxsPSIjYzljOWNhIiBkPSJNMjUuMTgxIDIzLjUzNWwtMS40MTQgMS40MTQtNy4zMTUtNy4zMTRBOS45NjYgOS45NjYgMCAwIDEgMTAgMjBDNC40NzcgMjAgMCAxNS41MjMgMCAxMFM0LjQ3NyAwIDEwIDBzMTAgNC40NzcgMTAgMTBjMCAyLjM0Mi0uODExIDQuNDktMi4xNiA2LjE5NWw3LjM0MSA3LjM0ek0xMCAyYTggOCAwIDEgMCAwIDE2IDggOCAwIDAgMCAwLTE2eiIvPjwvc3ZnPg==) no-repeat;
    z-index: 1;
}
.search form span{
    display: inline-block;
    position: absolute;
    right: .2rem;
    top: .14rem;
    width: .28rem;
    height: .28rem;
    line-height: .56rem;
    text-align: center;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyOCAyOCI+PGcgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBmaWxsPSIjYmNiZGJkIiBkPSJNMTQgMGM3LjczMiAwIDE0IDYuMjY4IDE0IDE0cy02LjI2OCAxNC0xNCAxNFMwIDIxLjczMiAwIDE0IDYuMjY4IDAgMTQgMHoiLz48cGF0aCBkPSJNMTkgOUw5IDE5TTkgOWwxMCAxMCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZWJlY2ViIiBzdHJva2Utd2lkdGg9IjIuNSIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIi8+PC9nPjwvc3ZnPg==) no-repeat;
}
.search .searchCon{
    padding: .3rem .3rem 0;
}
.search .title{
    font-size: 12px;
    line-height: .24rem;
    color: #666;
}
.search ul{
    margin: .2rem 0 .14rem;
}
.search ul li{
    display: inline-block;
    height: .64rem;
    margin-right: .16rem;
    margin-bottom:.16rem;
    padding: 0 .28rem;
    font-size: .28rem;
    line-height: .64rem;
    color: #333;
    border: 1px solid #ccc;
    border-radius: .32rem;
}
.search ul li a{
    color: #333;
}